*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-image:  linear-gradient(80deg, rgb(29, 7, 26) 60% , rgb(255, 153, 0)) ;
}
#logo,
#word{
    position: absolute;
    top: 50%;
    left: 50%;
    animation: aa 1.5s ease forwards 3.9s;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-animation: aa 1.5s ease forwards 1.9s;
}
#word path:nth-child(1){
    stroke-dasharray: 792;
    stroke-dashoffset: 792;
    animation: line-anim 2s ease forwards;
    -webkit-animation: line-anim 2s ease forwards .9s;
}
#logo path:nth-child(1){
    stroke-dasharray: 1431;
    stroke-dashoffset: 1431;
    animation: line-anim 2s ease forwards;
    -webkit-animation: line-anim 2s ease forwards .5s;
}



/* keyframe */
@keyframes line-anim {
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes aa {
    from{
        fill: transparent;
    }
    to{
        fill: #fff;
    }
}
/* media quires */
@media (max-width: 280px) {
    #logo{
        width: 50px;
    }
    #word{
        width: 100px;
    }
}
@media (max-width: 500px) {
    #logo{
        width: 200px;
    }
    #word{
        width: 400px;
    }
}
@media (max-width: 653px) {
    #logo{
        width: 200px;
    }
    #word{
        width: 400px;
    }
}
@media (max-width: 740px) {
    #logo{
        width: 200px;
    }
    #word{
        width: 400px;
    }
}
@media (max-width: 884px) {
    #logo{
        width: 300px;
    }
    #word{
        width: 600px;
    }
}
/* this is for portrait */
@media (max-width: 300px) {
    #logo{
        width: 100px;
    }
    #word{
        width: 200px;
    }
    body{
        background-image: none;
        background-color: rgb(44, 41, 82);
    }
}
@media (max-width: 720px) {
    #logo{
        width: 100px;
    }
    #word{
        width: 200px;
    }
}
